@use "../tools" as t;

:root {
  @include t.generate-theme(t.$light-theme);

  &[data-theme="dark"] {
    @include t.generate-theme(t.$dark-theme);
  }
}

body {
  background-color: var(--clr-bg);
  color: var(--clr-text);
  font-weight: t.$fw-reg;
  font-size: t.$fs-base;
  font-family: t.$font-main, t.$font-alt;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.card {
  width: 250px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid var(--clr-border);
  background-color: var(--clr-surface);
}

.btn-primary {
  background-color: var(--clr-accent);
  color: var(--clr-text);
}

